
body{
  margin: 0;
  padding: 0;
}
.test{
  margin: 0;
  padding: 0;
  outline: 0;
  background: #000;
  height: 100px;
  width: 100px;
}

#sad{
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  background: #222 url(overlay.png) repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer
}